@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input[type="password"]::-ms-reveal, /* For Microsoft Edge */
  input[type="password"]::-ms-clear, /* Clear button for Edge */
  input[type="password"]::-webkit-clear-button, /* Chrome and Safari */
  input[type="password"]::-webkit-textfield-decoration-container { 
    display: none;
  }
}

.hero {
  background-image: url('/assets/hero1.jpg');
  background-size: cover;
  background-position: center;
}

.test {
  background-image: url("https://images.unsplash.com/photo-1523544261025-3159599b1fc3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}